# anti directory listing
# normal
# Options -Indexes
# sakura internet
# DirectoryIndex index.html index.php .ht

<ifModule mod_headers.c>
# anti Clickjacking
Header always set X-Frame-Options DENY

# Do not auto recognize Content-Type
Header always set X-Content-Type-Options nosniff

# Browser XSS Protection
Header always set X-XSS-Protection "1; mode=block"
</ifModule>
