@charset "utf-8";
html
{
}
body
{
	font-family: sans-serif;
	width: 100%;
	max-width: 860px;
	margin: auto;
	position: relative;
}
body *
{
	box-sizing: border-box;
	word-break: break-all;
}
body > *
{
	max-width: 100%;
}
ul
{
	padding-left: 22px;
}
img
{
	max-width: 100%;
	width: auto;
	height: auto;
	border: none;
}
.a11yc_table
{
	border: 1px #aaa solid;
}
pre
{
	margin: 0;
	padding: 2mm;
	white-space: pre-wrap;
	border: 2px solid #ccc;
	font-size: 1rem;
}

.issue_header
{
	position: absolute;
	top: 10px;
	right: 20px;
	text-align: right;
	font-size: .7rem;
	line-height: 1.5;
}
.cover_page,
.each_issue
{
/*	page-break-after: always;*/
	page-break-inside: avoid;
}
.cover_page,
.each_issue
{
	padding: 10mm 0;
	position: relative;
}
body > :last-child
{

	page-break-after: auto;
}
.cover_page
{
	min-height: 20em;
}
.cover_page:not(.common):before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	height: 4px;
	background-color: #eee;
}

.cover_page > .heading
{
	font-size: 1.5rem;
	line-height: 1.5;
	display: block;
	padding: 1em 0;
}
.cover_page.has_image .heading
{
	font-size: 2rem;
	position: static;
	height: auto;
}
.cover_page.has_image img
{
	max-height: 480px;
	margin: auto;
}

.cover_page .issue_title
{

}

.cover_page .issue_url
{
	font-size: 1.25rem;
}


.screenshot img
{
	display: block;
	margin: 1em 0;
	max-height: 70vh;
}
.each_issue  h2.heading
{
	margin-top: 0;
	font-size: 1.2rem;
	line-height: 1;
}
.issue
{
	font-size: .87rem;
}

.each_issue  section .heading
{
	font-size: 1rem;
	margin-bottom: 0;
}
.issue h3.heading + p
{
	margin-top: 0;
}

/*
@media print {
*/
@media print {
	.noprint
	{
		display: none !important;
	}
}
	html
	{
		font-size: .9em;
	}
	body
	{
		max-width: 190mm;
	}
	.cover_page
	{
		page-break-before: always;
		display: table;
		width: 100%;
		height: 275mm;
		margin: 0;
		text-align: center;
	}
	.cover_page > .heading
	{
		height: auto;
		position: relative;
		top: -5vh;
		display: table-cell;
		margin: auto;
		padding: 1em;
		font-size: 2rem;
		vertical-align: middle;
	}
	.cover_page:not(.common):before
	{
		content: '';
		display: block;
		page-break-before: always;
		display: table;
		width: 100%;
		height: 245mm;
		margin: 0;
		text-align: center;
		position: static;
		background-color: transparent;
	}
	.cover_page,
	.each_issue
	{
		min-height: auto;
/*		min-height: calc( 50vh - 35mm );*/
		padding: 0 0 15mm;
	}
	.issue_header
	{
		display: none;
		position: fixed;
		top: 7mm;
		right: 10mm;
	}
	.issue_header
	{
		display: none !important;
	}
	.screenshot img
	{
		max-height: 33vh;
	}
	.each_issue  > .heading:first-child
	{
		margin-top: 0;
	}
	a:link,
	a:visited
	{
		color: #134A9C  !important;
		text-decoration: none;
	}
/*
}
*/
/*
@page {
	size: A4;
	margin: 0;
}
*/
