@charset "utf-8";

.a11yc_validation_code_error
{
	display: block;
	position: absolute;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	padding: 1px 3px 0;
	background-color: #900;
	color: #fff;
	border-radius: 3px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	line-height: 1.5em;
	border: 2px solid rgba( 255,255,255,.75 );
}
.a11yc_validation_code_error .a11yc_error_text {
	display: block;
	font-weight: normal;
}

.a11yc_validation_code_error:hover + .a11yc_live_error_wrapper
{
	outline-color: #000;
}
.a11yc_validation_code_notice
{
	color: #000;
	background-color: #fea05a;
}

.a11yc_live_error_wrapper
{
	display: inline;
	outline: 2px dashed #900;
	outline-offset: -2px;
}
.a11yc_validation_code_notice + .a11yc_live_error_wrapper
{
	outline-color: #fea05a;
}

/*
 * alt attributes of image
 */
.a11yc_live_img_wrapper {
	position: relative;
/*	padding-bottom: 16px;*/
}
.a11yc_live_img_wrapper .a11yc_live_alt {
	color: #000;
	display: inline-block;
	background-color: #fefebb;
	font-size: 12px !important;
	font-weight: normal !important;
	line-height: 1.2em;
	text-align: left;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Overlay */
/* max of z-index: 2147483647 */
#a11yc_overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2147483640;
}
.a11yc_validation_code_error,
.a11yc_live_img_wrapper .a11yc_live_alt 
{
	z-index: 2147483645;
}
.a11yc_validation_code_error:hover,
.a11yc_live_img_wrapper .a11yc_live_alt:hover,
body :focus
{
	z-index: 2147483647;
}